# ========== Unity Specific ==========
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
MemoryCaptures/

# Asset Store Tools
Assets/AssetStoreTools*

# ========== Visual Studio Specific ==========
.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# ========== OS Generated ==========
.DS_Store
Thumbs.db

# ========== Crash Reports ==========
sysinfo.txt

# ========== Others ==========
*.apk
*.aab
*.db
*.pidb.meta
*.bak
*.orig
*.swp

# ========== Photon ==========
Assets/Photon/PhotonUnityNetworking/Code/Doc/
Assets/Photon/PhotonUnityNetworking/Demos/

# Keep necessary folders
!Assets/
!Assets/Resources/
!Assets/Scenes/
!Assets/Scripts/
!ProjectSettings/
!Packages/
